
/Noob64.opensdf
/Noob64.targetver.h
/Noob64.sdf
/Noob64.sln
/Noob64.suo
/Noob64/small.ico
/Noob64/Noob64.ico
/Noob64/Noob64.rc
/Noob64/Noob64.vcxproj
/Noob64/Noob64.vcxproj.filters
/Noob64/Noob64.vcxproj.user
/Debug
/Noob64/Debug
/ipch/